---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Offers from '../components/Offers.astro';
import Testimonials from '../components/Testimonials.astro';
import HeroFooter from '../components/HeroFooter.astro';
---

<Layout title="Dropstars">
	<main class="snap-y scroll-smooth">
		<!-- Add Call To action, company Name and Button text2 -->
	<Hero callToAction='Dropstars', buttonText='Kontakt' companyName='Dropstars'/>
	<About linkText="/" imageOne='shooting_2.jpg', imageTwo='shooting_7.jpg' />
	<Offers />
	<HeroFooter callToAction='Jetzt kontaktieren' />
	</main>
</Layout>

