---
import { Image } from 'astro:assets';
import DropStarsText from './DropStarsText.astro';
import LinkButton from './LinkButton.astro';
import { Icon } from 'astro-icon/components'
import actionImage from '../images/action.jpg';
import ShootingImage from '../images/shooting_2.jpg';


interface Props {
  text: string,
}
const { text } = Astro.props;
---

  <section class="grid grid-cols-1 md:grid-cols-2 p-4 gap-4 md:pb-4 pb-16">
    <div class="pb-8 md:pb-0 text-center md:text-left justify-center flex flex-col items-center md:items-start p-4">
      <Icon name="logo_font" width="20rem" height="20rem"></Icon>
      <p class="text-white max-w-sm pb-12">{text}</p>
    </div>
    <div class="grid grid-cols-2 gap-6">
      <Image src={actionImage} 
        alt="" 
        class="rounded-3xl object-cover w-64 aspect-[2/3]"/>
      <Image src={ShootingImage}
         alt="" class="rounded-3xl object-cover w-64 aspect-[2/3]"/>
    </div>
</section>
