---
import { Image } from 'astro:assets';
import DropstarsText from './DropstarsText.astro';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12 snap-center">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 p-4 gap-4">
    <div>
      <h1 class="text-5xl italic max-w-xs text-white pb-8"><DropstarsText text="FlagFootball made in Innsbruck"></DropstarsText></h1>
      <p class="text-white max-w-sm">
        Lorem Ipsum dolor sit amet.  Lorem Ipsum dolor sit amet.  Lorem Ipsum dolor sit amet.  Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.
      </p>
      <p class="text-white mt-8 underline">
        <a href={linkText}>Link Text</a>
      </p>
    </div>
    <div class="grid grid-cols-2 gap-6">
        <Image src={'/images/'+imageOne} 
        width={600} 
        height={600 * 0.8} 
        alt="" 
        class="rounded-md object-cover w-64"/>
    <Image src={'/images/'+imageTwo}
         width={600} height={600} alt="" class="rounded-md object-cover w-64 pt-8"/>
    </div>
  </div>
</section>
