---
import { Image } from 'astro:assets';
import DropstarsText from './DropstarsText.astro';
import LinkButton from './LinkButton.astro';

interface Props {
  title: string;
  text?: string,
  link?: string;
  linkText?: string;
  imageOne:string;
  imageTwo:string;
}
const { link, linkText, imageOne, imageTwo, title, text } = Astro.props;
---

<section class="py-12 snap-center">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 p-4 gap-4">
    <div>
      <h1 class="text-5xl italic max-w-xs text-white pb-8"><DropstarsText text={title}></DropstarsText></h1>
      { text ? <p class="text-white max-w-sm pb-8">
       {text}
      </p> : null }
      { link && linkText ? 
        <LinkButton link={link} text={linkText} />
      : null }
    </div>
    <div class="grid grid-cols-2 gap-6">
        <Image src={'/images/'+imageOne} 
        width={600} 
        height={600 * 0.8} 
        alt="" 
        class="rounded-md object-cover w-64"/>
    <Image src={'/images/'+imageTwo}
         width={600} height={600} alt="" class="rounded-md object-cover w-64 pt-8"/>
    </div>
  </div>
</section>
