---
interface Props {
 text: string,
}
const { text } = Astro.props;

---

<div class="transition-all drop-shadow-dropstar-shadow-invisible delay-300 intersect:drop-shadow-dropstar-shadow text-white intersect-full leading-tight" data-text={text}>{text}</div>