---
import { Icon } from 'astro-icon/components';


const imageURL = "bg.jpg"
const bgStyle = {
  backgroundImage: `url('/images/${imageURL}')`,
};
---

<header class="bg-cover bg-no-repeat bg-gray-400 bg-blend-multiply snap-start h-lvh" style={bgStyle}>
  <nav class="text-white uppercase pt-8 p-4 font-bold2 container mx-auto top-0 z-10 grid grid-cols-2 ">
    <ul>
      <li>Dropstars</li>
    </ul>
    <ul class="text-white flex justify-end gap-4">
      <li>
        <a class="text-white block cursor-pointer" href="https://www.instagram.com/dropstars_innsbruck"><Icon width={24} height={24} name="ion:logo-instagram" title="Instagram" /></a>
      </li>
      <li>
        <a class="text-white block cursor-pointer" href="https://www.facebook.com/dropstarsinnsbruck"><Icon width={24} height={24} name="ion:logo-facebook" title="Facebook"/></a>
      </li>
    </ul>
  </nav>
  <div class="px-4 mx-auto max-w-screen-xl h-full text-center py-24 text-white overflow-hidden">
      <img src="/images/logo.png" alt="Dropstars Logo" class="w-48 mx-auto animate-in fade-in delay-1000 duration-1500"/>
  </div>
</header>
