---
import { Icon } from 'astro-icon/components'

interface Props {
  callToAction?: string;
}

const { callToAction } = Astro.props;
const content = [
  {
    heading: "E-Mail",
    data: [{
      text: "info@dropstars.at",
      link: 'mailto:info@dropstars.at',
    }]
  },
  {
    heading: "Telefon",
    data: [{
      text: "+43 660 32 174 30",
      link: 'tel:+436603217430',
    }]
  },
  {
    heading: "Links",
    data: [{
      text: "Impressum",
      link: '/impressum',
    }, {
      text: "Instagram",
      link: 'https://www.instagram.com/dropstars_innsbruck',
    }, {
      text: "Facebook",
      link: 'https://www.facebook.com/dropstarsinnsbruck',
    }, {
      text: "Droppyshop",
      link: 'https://droppyshop.myspreadshop.at/'
    }]
  },
];
---

<footer
  class="snap-end container bg-background/90 backdrop-blur-sm mx-auto mt-48 rounded-t-3xl"
>
  <div class="">
    <section class="grid grid-cols-2 md:grid-cols-4">
      {
        content.map((item) => (
          <div class="p-12">
            <h1 class="uppercase text-2xl italic text-white">{item.heading}</h1>
            { item.data.map((element) => (
              <a href={element.link}><p class="text-white">{element.text}</p></a>
            ))}
          </div>
        ))
      }
      <Icon name="logo_full" width="10rem" height="15rem" class="p-4 md:pl-4 pl-12"></Icon>
    </div>
  </div>
</footer>
