---
import { Icon } from 'astro-icon/components'

interface Props {
  callToAction?: string;
}

const { callToAction } = Astro.props;
const content = [
  [{
      type: 'heading',
      text: 'E-Mail'
    }, {
      type: 'link',
      text: "info@dropstars.at",
      link: 'mailto:info@dropstars.at',
    }, {
      type: 'heading',
      text: 'Telefon'
    }, {
      type: 'link',
      text: "+43 660 32 174 30",
      link: 'tel:+436603217430',
    }],
  [{
      type: 'heading',
      text: 'Links'
    }, {
      type: 'link',
      text: "Impressum",
      link: '/impressum',
    }, {
      type: 'link',
      text: "Instagram",
      link: 'https://www.instagram.com/dropstars_innsbruck',
    }, {
      type: 'link',
      text: "Facebook",
      link: 'https://www.facebook.com/dropstarsinnsbruck',
    }, {
      type: 'link',
      text: "Droppyshop",
      link: 'https://droppyshop.myspreadshop.at/'
    }],
];
---

<footer
  class="snap-end container bg-background/90 backdrop-blur-sm mx-auto mt-48 rounded-t-3xl pb-12 md:pb-4"
>
  <div class="">
    <section class="grid grid-cols-2 md:grid-cols-3">
      {
        content.map((section) => (
          <div class="p-12 text-center">
            {section.map((item) => {
              if (item.type === 'heading') {
                return <h1 class="footer-heading uppercase text-2xl italic text-white">{item.text}</h1>
              } else if (item.type==='link') {
                return <a class="footer-link" href={item.link}><p class="text-white">{item.text}</p></a>
            } else {
              return null
            }})}
          </div>
        ))
      }
      <div class="p-4 col-span-2 md:col-span-1 flex justify-center content-center items-center" >
      <Icon name="logo_full" width="10rem" height="15rem" class=""></Icon>
    </div>
    </div>
  </div>
</footer>


<style>
  .footer-link + .footer-heading {
    margin-top: 1rem;
  }
</style>