---
interface Props {
  text: string;
  imageURL: string;
  backgroundPositionTop?: boolean;
  link?: string;
}
const { text = "", imageURL = "", backgroundPositionTop = false, link } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<a
  class:list={
  [
    {
       "block group py-48 bg-cover m-8 bg-gray-700 bg-blend-multiply cursor-pointer hover:bg-gray-400 md:hover:scale-105 transition-all":true,
       'bg-top': backgroundPositionTop,
       'bg-center': !backgroundPositionTop,
     }
   ]
  }
  href={link}
  style={imageStyle}
>
  <h2 class="transition-all text-white uppercase text-4xl italic group-hover:drop-shadow-dropstar-shadow drop-shadow-dropstar-shadow-invisible">{text}</h2>
</a>