---
interface Props {
  text: string;
  imageURL: string;
  backgroundPositionTop?: boolean;
}
const { text = "", imageURL = "", backgroundPositionTop = false } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<div
  class:list={
  [
    {
       "group py-48 bg-cover m-8 bg-gray-700 bg-blend-multiply cursor-pointer hover:bg-gray-400 hover:scale-105 transition-all":true,
       'bg-top': backgroundPositionTop,
       'bg-center': !backgroundPositionTop,
     }
   ]
  }
  style={imageStyle}
>
  <h2 class="text-white uppercase text-4xl italic transition-all group-hover:drop-shadow-dropstar-shadow">{text}</h2>
</div>