---
interface Props {
 text: string,
 link: string;
}
const { text, link } = Astro.props;

---

<a class="hover:bg-white hover:text-dropstars-blue px-16 py-4 uppercase bigFont tracking-wide bg-dropstars-red text-white transition-all " href={link}>{text}</a>
