---
import DropstarsText from "./DropstarsText.astro";
import ImageCard from "./ImageCard.astro";
const offers = [
    {
        imageURL:"shooting_1.jpg",
        offerText:"Was ist FlagFootball?",
        bgPositionTop: true,
    },
    {
        imageURL:"team.jpg",
        offerText:"Wer wir sind",
        bgPositionTop: false,
    },
    {
        imageURL:"shooting_5.jpg",
        offerText:"Kontakt",
        bgPositionTop: false,
    }
]
---


<section class="py-12 text-center snap-center">
<h1 class="text-white text-5xl italic uppercase"><DropstarsText text="What we offer" ></DropstarsText></h1>
<p class="text-white">We're committed to bringing you the best workout experience</p>
<div class="grid grid-cols-1 md:grid-cols-3">
{
    offers.map((offer)=>(
        <ImageCard imageURL={offer.imageURL} text={offer.offerText} backgroundPositionTop={offer.bgPositionTop} />
    ))
}

</div>
</section>