
---
import { Icon } from 'astro-icon/components';
import DropStarsText from './DropstarsText.astro';

interface Props {
  title: string
}
const { title } = Astro.props;

const imageURL = "bg.jpg"
const bgStyle = {
  backgroundImage: `url('/images/${imageURL}')`,
};
---

<header class="bg-cover bg-no-repeat bg-gray-400 bg-blend-multiply snap-start h-96 flex flex-col flex-grow-0" style={bgStyle}>
    <nav class="text-white uppercase pt-8 p-4 font-bold2 container mx-auto top-0 z-10 grid grid-cols-2 flex-0">
      <ul>
        <li><a href="/">DropStars</a></li>
      </ul>
      <ul class="text-white flex justify-end gap-4">
        <li>
          <a class="text-white block cursor-pointer" href="https://www.instagram.com/dropstars_innsbruck"><Icon width={24} height={24} name="ion:logo-instagram" title="Instagram" /></a>
        </li>
        <li>
          <a class="text-white block cursor-pointer" href="https://www.facebook.com/dropstarsinnsbruck"><Icon width={24} height={24} name="ion:logo-facebook" title="Facebook"/></a>
        </li>
      </ul>
    </nav>
    <div class=" px-4 flex-1 text-center flex-col flex justify-center text-white overflow-hidden ">
      <h1 class="text-white text-4xl md:text-5xl align-middle" transition:name="page-title" transition:animate="fade"><DropStarsText text={title}></DropStarsText></h1>
    </div>
  </header>