---
import HeroFooter from '../components/HeroFooter.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
import { getImage } from "astro:assets"

import backgroundImage from "../images/background.jpg"

const optimizedBackgroundImage = await getImage({ src: backgroundImage })

const bgStyle = `background-image: url('${optimizedBackgroundImage.src}')`
interface Props {
	title: string;
    seoTitle?: string;
    footerCallToAction?: string;
}

const { title, footerCallToAction, seoTitle } = Astro.props;
---

<Layout title={title} seoTitle={seoTitle}>
    <div class="snap-y scroll-smooth flex-1 bg-scroll bg-top pt-10 bg-cover" transition:name="content" transition:animate="fade" style={bgStyle}>
        <div class="relative" ><div class="absolute flex content-center justify-center w-full">
            <Icon name="droppy" class="block mx-auto z-20 min-w-full lg:min-w-96" width="auto" height="30rem"/>
        </div></div>
        <main class="container mx-auto grid mt-80 md:mt-96 pt-16 md:pt-20 lg:pt-32 px-12 pb-20 rounded-3xl bg-background/90 backdrop-blur-sm">
            <slot />
	    </main>
        <HeroFooter />
    </div>
</Layout>