---
import PageHero from '../components/PageHero.astro';
import HeroFooter from '../components/HeroFooter.astro';
import Layout from '../layouts/Layout.astro';
interface Props {
	title: string;
    footerCallToAction?: string;
}

const { title, footerCallToAction } = Astro.props;
---

<Layout title={title}>
	<main class="snap-y scroll-smooth" transition:name="content" transition:animate="fade">
         <slot />
         <HeroFooter callToAction={footerCallToAction} />
	</main>
</Layout>