---
import BaseLayout from './BaseLayout.astro';
import DropStarsText from '../components/DropstarsText.astro';
import { Icon } from 'astro-icon/components';
interface Props {
	title: string;
    frontmatter: {
        title: string;
    };
}

const { title, frontmatter } = Astro.props;
---

<BaseLayout title={title} seoTitle={frontmatter.title}>
    <a href="/" class="sticky top-0 text-white uppercase pt-8 p-4 font-bold bigFont italic flex align-bottom group transition-all row -ml-8 md:ml-0 w-fit">
        <div class="md:border-0 border-2 border-white md:rounded-none rounded-full flex items-center content-center group-hover:-translate-x-1 transition-all">
            <Icon name="ion:chevron-back-outline" class="p-0.5 md:pt-1 mb-0 md:mb-2"></Icon><span class="md:block hidden">Home</span>
        </div>
    </a>
    <div class="container text-white mx-auto p-4 pt-16 pb-24 prose lg:prose-xl prose-headings:text-white prose-a:text-white prose-li:font-normal prose-strong:text-white prose-em:text-white prose-img:rounded-3xl">
        <h1 class="text-white text-4xl md:text-5xl italic uppercase text-center"><DropStarsText text={title ?? frontmatter.title}></DropStarsText></h1>
        <slot />
    </div>  
</BaseLayout>


<style is:global>
lite-youtube {
    @apply rounded-2xl;
}
</style>